
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.post-container {
    background-color: #f0f0f0; /* Gray background */
    width: 400px; /* Fixed width */
    height: 300px; /* Fixed height */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the total width/height */
}

.input-group {
    display: flex;
    flex-direction: row; /* Change to row to place label and input horizontally */
    justify-content: flex-end; /* Align items to the right */
}

.input-group label {
    margin-right: 8px; /* Add margin to separate label and input */
    margin-bottom: 8px;
}

.post-container input {
    width: 100%;
    padding: 50px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.post-container button[type="create"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: blue;
    color: white;
}

.post-container button[type="file"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: darkgray;
    color: white;
}
