body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.imgcontainer {
    text-align: center;
}

.avatar {
    width: 60px; /* Set the desired width for the avatar image */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 50%; /* Make it round */
}

.login-container {
    background-color: #f0f0f0; /* Gray background */
    width: 400px; /* Fixed width */
    height: 350px; /* Fixed height */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the total width/height */
}



.pass input {
    width: 50%;
    padding: 7px;
    
    box-sizing: border-box;
}

.email input {
    width: 50%;
    padding: 7px;
    
    box-sizing: border-box;
}


.login-container button[type="login"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: blue;
    color: white;
}



div ~ p {
    color: rgb(0, 0, 0);
  }

  p {
    margin-bottom: 0px; /* Adjust the value to set the desired space */
    margin-top: 0px;
}


